@import "tailwindcss";

:root {
  --primary: #FF6B35;
  --primary-hover: #E85D04;
  --background: #F8FAFC;
  --surface: #FFFFFF;
  --text: #1E293B;
  --text-light: #64748B;
  --border: #E2E8F0;
  --danger: #EF4444;
  --rating: #FBBF24;
}

html,
body,
#root {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
}

body{
  margin:0;
}

*{
  transition: .25s ease;
}

button{
  cursor:pointer;
}